<footer class="bg-secondary  text-light p-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About us:</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nunc id aliquam lacinia, urna nunc
            tincidunt nunc, id aliquam nunc nunc id.</p>
        </div>
        <div class="col-md-4">
          <h5>Contact us:</h5>
          <p>Email: info#example.com</p>
          <p>Phone: 123-456-7890</p>
          <p>Address: 123 Main St, City, Country</p>
        </div>
        <div class="col-md-4">
          <h5>Follow:</h5>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><i class="bi bi-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="bi bi-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="bi bi-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="bi bi-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <p>&copy; 2022 Your Online Shop. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
